<h1>Movie Listings</h1>

<% if current_user.admin? %>
  <%= link_to "Add a movie", new_admin_movie_path %>
<% end %>

<div>
  <ul>
    <% @movies.each do |movie| %>
      <li><%= link_to movie.title, movie %></li>
    <% end %>
  </ul>
</div>
