<h1>Welcome to Filmr</h1>
<h3>Filmr is a Movie databse.</h3>
<p>Follow the links to view a movie and its cast and crew</p>

<h2>
  <%= link_to "Movies", movies_path %>
  <%= link_to "Cast", talents_path %>
  <%= link_to "Crew", talents_path %>
</h2>
