<h1>Add Cast Member</h1>

  <%= form_for @cast do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.submit "Add Cast" %>
    </div>
  <% end %>
